<% cache([:v2, @page]) do %>
  <%= render partial: 'og_meta_tags', locals: { page: @page } %>

  <center><h2><%= @page.title %></h2></center>
  <br>
  <div id='page_content'>
    <%= raw @page.content %>
  </div>
<% end %>
